# --- Ambientes Virtuais ---
env/
venv/
ENV/
.venv/

# --- Cache e Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# --- Configurações Sensíveis e Dados ---
.env
instance/
*.db
*.sqlite

# --- IDEs e Editores ---
.vscode/
.idea/
*.swp
*.swo

# --- Sistema Operacional ---
.DS_Store
Thumbs.db